@model IEnumerable<ExpenseTracker.Models.Transacion>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionUrl"] = "/Transaction/AddorEdit";
    ViewData["PageActionText"] = "+ New Transaction";
}

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="transactions" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                <e-grid-column headerText="Date" field="Date" type="date" format="MMM-dd-yy" textAlign="Left" width="110px"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" width="110px" textAlign="Right"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color: #212b36">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    <div>
</div>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="no-a-decorationbtn btn-sm" href="/Transaction/AddorEdit/${TransactionId}" >
             <i class="fa-solid fa-pen-to-square text-white fa-lg"></i>
        </a>
            <form action="/Transaction/Delete/${TransactionId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration" onclick="return confirm(&quot;Are you sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>
